<mat-card class="mat-elevation-z2">
    <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
        <mat-card-subtitle>{{ byline }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="imageUrl" [alt]="alt">
    <mat-card-content>
        <p class="card-margin">
          {{ abstract }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button 
            (click)="openArticle(url)"
            class="card-margin" 
            mat-raised-button 
            color="primary">VIEW ARTICLE</button>
    </mat-card-actions>
    <div>Section: {{ section }}</div>
</mat-card>
